.about {
  padding: 10rem 0;
  background: $dark-dark-color;
  color: $gray-color;

  // About Content
  &__content {
    text-align: center;
    justify-content: center;

    // imagem
    &--img {
      height: 480px;
      background-image: url(../../dist/img/about-img.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 3rem;
    }

    // text box
    &--text {
      .links {
        font-family: $font-custom;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $layout-color;
      }
    }
  }

  // Skills / Habilidades
  &__skills {
    padding-top: 5rem;

    // Box
    &--box {
      background: $layout-color;
    }
  }
}

// Media Desktop
@media (min-width: 768px) {
  .about {
    &__content {
      text-align: start;

      &--text {
        h2 {
          margin-bottom: 1.4rem;
        }

        p {
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 2;
          letter-spacing: 0.7px;
        }

        .links {
          font-size: 0.9rem;
          text-decoration: none;

          &::after {
            font-family: fontawesome;
            content: "\f061";
            font-weight: 900;
            margin-left: 4px;
          }

          &:hover::after {
            margin-left: 15px;
            visibility: hidden;
            transition: all 0.3s ease-in;
          }
        }
      }
    }
  }
}
