.btn__outline--custom {
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none !important;
  background: transparent;
  color: $layout-color;
  font-weight: 400;
  border: 1px solid $layout-color;
  border-radius: 4rem;
  outline: none;
  padding: 1rem 4rem;
  box-shadow: 1px 1px 4px rgba($layout-color, 0.4);
  animation: moveTextTop 2.4s ease-out;

  &::after {
    content: "\f019";
    font-family: fontawesome;
    margin-left: 0.8rem;
    display: inline-block;
  }

  &:hover {
    background: $layout-color;
    color: $light-color;
    transition: all 0.5s ease-in;
  }
}
