.btn {
  padding: 1.3rem 4rem;
}

.btn__outline--custom {
  font-size: 1.3rem;
  background: transparent;
  color: $layout-color;
  font-weight: 400;
  border: 1px solid $layout-color;
  box-shadow: 1px 1px 4px rgba($layout-color, 0.4);

  &::after {
    content: "\f019";
    font-family: fontawesome;
    margin-left: 0.8rem;
    display: inline-block;
  }

  &:hover {
    background: $layout-color;
    color: $light-color;
    transition: all 0.5s ease-in;
  }
}
