// Reset Css:

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 92.5%;
}

body {
  font-family: $font-primaria;
  line-height: 1.7;
  color: $dark-color;
  background-color: $layout-color;
  height: 100%;
}

img {
  display: block;
  width: 100%;
}
