// Reset Css:

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primaria;
  font-size: 100%;
  line-height: 1.7;
  color: $dark-color;
  // overflow: hidden;
  height: 100000px;
}

img {
  width: 100%;
}
