$font-primaria: "Roboto", sans-serif;
$font-custom: "Raleway", sans-serif;

$layout-color: #ef5457;
$light-color: #ffffff;
$dark-color: #333333;

$dark-light-color: #212121;
$dark-dark-color: #1f1f1f;
